@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

button, button:hover, button:focus,
input, input:focus,
a, a:hover, a:focus,
div, div:focus {
    outline: none;
}

a, button {
    cursor: pointer;
}